/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;

}

/* colors */

:root {
  --col-berry-drk: rgba(70,0,36,1);
  --col-berry: rgba(98,0,67,1);
  --col-bg-light: rgba(254,245,253,1);
  --col-bg-bright: white;
}

/* Font Import */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  
.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}
  
.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}


h1 {
  border-radius: 1em 1em 0 0;
  color: white;
  background-color: var(--col-berry-drk);
  padding: 1em 0.5em 0.5em 0.5em;
  margin:0;
}

h3 {
  width:100%;
  margin:0.25em 0 0.5em 0;
}

.strong {
  color: var(--col-berry-drk);
  font-weight: 600;
  font-size: 1em;
}

/* Basics */

body {
  font-family: Ubuntu, sans-serif;
  background-color: var(--col-bg-light);
  padding:0;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;  
  margin:0;
  padding:0;
  background-color: var(--col-bg-light);
  border-top:1em solid var(--col-berry);
}

#logobox {
  margin: 1em auto;
  width:60%;
  max-width: 690px;
  min-width: 510px;
}

#logo {
  width:6em;
  margin: 0.5em 1em;
  height:auto;
}

#wrap {
  color: var(--col-berry-drk);
  width: 60%;
  max-width: 690px;
  min-width: 510px;
  margin: 1em auto;
  margin-bottom:3em;
}

#lowSpacer {
  border-radius: 0 0 1em 1em ;
  color: var(--col-bg-bright);
  background-color: var(--col-berry-drk);
  padding: 1em;
  margin-bottom:6em;
}

#lowSpacer p {
  color: var(--col-bg-bright);
  font-weight: 40;
  text-align: center;
}

footer {
  width: 100%;
  background-color: var(--col-berry);
  color: var(--col-bg-bright);
  margin:0;
  padding:0;
  line-Height:1.5em;
}

#sponsorbox {
  width:60%;
  padding: 1em 35%;
  max-width: 690px;
  min-width: 510px;
  background-color: var(--col-bg-light);
  text-align: center;
}

#sponsor {
  width: 9em;
  height: auto;
  margin: 0.5em 1em;
}

footer ul {
  width:60%;
  max-width: 690px;
  min-width: 510px;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
}

footer li {
  margin: 0.5em;
  display: inline;
}

footer a {
  color: var(--col-bg-bright);
}


/* Form & Calibration */

#calibrate {
  background-color: var(--col-bg-bright);
  padding: 1.5em 1em 1em 1em;
  margin: 0;
}

section {
  margin-bottom: 1em;
}

label {
  margin-right: 0.5em;
}

.checking label {
  width: 40%;
}

#names, #salutation, #textSelector {
width: 40%;
height: 1.5em;
font-size: 1em;
color: var(--col-berry-drk);
}

#pronounContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  column-gap: 0.5em;
  row-gap: 0.1em;
}

#pronounContainer div {
  width: 30%;
  margin-bottom: 0.25em;
  order: 3;
  flex-grow: 6;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
}

#generateButton {
  padding: 0.75em 1.2em;
  font-size: 1em;
  font-weight: 600;
  border-radius: 2em;
  color: var(--col-bg-bright);
  background-color: var(--col-berry-drk);
  border: none;
  margin:0.5em 0;
}

/* result */

#results {
  padding:1.5em 1em 1em 1em;
  margin:0;
  border-top: 0.25em solid var(--col-berry-drk);
  background-color: var(--col-bg-bright);
}

#results p {
  white-space: pre-wrap;
  line-height: 1.5;
}

#results span {
  background: #fff3b0;
  border: 1px solid #b08900;
  border-radius: 0.2em;
  padding: 0 0.2em;
  font-weight: 600;
}


@media screen and (max-width: 509px) {

  h1 {
    font-size: 2em;
    border-radius: 0;
    width:85%;
    padding: 1.5em 5% 1em 10%;
    margin: 0;
    max-width: 509px;
    min-width: 350px;
  }

  body {
    font-size:90%;
    padding:0;
  }

  header {
    width:90%;
    padding: 1.5em 5% 1em 5%;
    margin:0;
  }

  #logobox {
    width:100%;
    padding: 0;
    max-width: 509px;
    min-width: 350px;
  }

  #wrap {
    width: 100%;
    max-width: 509px;
    min-width: 350px;
    margin: 1em 0;
    padding:0;
  }

  #calibrate {
    width:85%;
    padding: 1.5em 5% 1em 10%;
    margin: 0;
  }

  #pronounContainer div {
    width: 45%;
    margin-bottom: 0.25em;
    order: 2;
    flex-grow: 3;
    flex-shrink: 1;
  }

  #generateButton {
    width: 100%;
    padding: 0.75em;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 2em;
    color: var(--col-bg-bright);
    background-color: var(--col-berry-drk);
    border: none;
    margin:0.5em 0;
  }

  #results { 
    width:85%;
    padding: 1.5em 5% 1em 10%;
    }

  #lowSpacer {
    width:85%;
    padding: 1.5em 5% 1em 10%;
    border-radius: 0;
    margin-bottom:3em;
  }

  footer ul {
    width:85%;
    padding: 1.5em 5% 1.5em 10%;
    max-width: 509px;
    min-width: 350px;
    margin:0;
  }

  #sponsorbox {
    width:90%;
    padding: 1em 5%;
    max-width: 509px;
    min-width: 350px;
  }

}
